body {
  background: #EEE;
  padding: 1rem;
  font-family: system-ui;
}

select,
input {
  background: #FFF;
  border: 0.1rem solid #CCC;
}
select { border-radius: 1rem; }
select:focus { outline: none; }
input { padding-left: 0.5rem; }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.storage-prompt-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.storage-prompt {
  margin: 0 5%;
  text-align: center;
  padding: 1rem;
  background: #FFF;
}
.prompt-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.prompt-button {
  width: 6rem;
  padding: 0.3rem;
  border: 0.1rem solid #99C;
  border-radius: 1rem;
  cursor: pointer;
}
.prompt-button.no {
  color: #666;
}
.prompt-button.yes {
  background: #99C;
  color: #FFF;
}

.party-head, .character-ability {
  max-width: 640px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.party-head input,
.character-status-value input,
.character-status-mod input {
  width: 3rem;
  font-size: 0.8rem;
}

.character-sheet {
  position: relative;
  margin-top: 1rem;
  padding: 1rem;
  background: #FFF;
  border: 0.1rem solid #CCC;
  border-radius: 1rem;
  box-sizing: border-box;
}
.character-sheet.dead .character-icon { background-color: #C33; }
.character-sheet.dead .character-icon img { opacity: 0.5; }

.character-delete {
  position: absolute;
  right: 1rem;
}

.character-icon {
  margin: 0.2rem auto;
  width: fit-content;
}
.character-icon img {
  width: 128px;
  height: 128px;
  border: 0.1rem solid #CCC;
}

.character-class,
.character-title {
  display: flex;
  justify-content: center;
  padding: 0.2rem 0;
}

.character-class select {
  text-align-last: center;
  padding-left: 1rem;
  font-size: 1rem;
}

.character-debuff {
  display: flex;
  padding: 0.5rem 0;
}
.character-debuff input[type="checkbox"] { display: none; }
.character-debuff .debuff {
  flex: 1;
  text-align: center;
  border: 0.1rem solid #CCC;
  border-right: none;
  padding: 0.2rem 0;
  color: #CCC;
}
.character-debuff .debuff:first-of-type {
  border-left: 0.1rem solid #CCC;
  border-radius: 1rem 0 0 1rem;
}
.character-debuff .debuff:last-child {
  border-right: 0.1rem solid #CCC;
  border-radius: 0 1rem 1rem 0;
}
.character-debuff .debuff.checked { color: #FFF; }
.character-debuff .debuff-bli.checked { background: #333; }
.character-debuff .debuff-ble.checked { background: #C00; }
.character-debuff .debuff-fea.checked { background: #63C; }
.character-debuff .debuff-sil.checked { background: #969; }
.character-debuff .debuff-cur.checked { background: #909; }
.character-debuff .debuff-und.checked { background: #090; }
.character-debuff .debuff-sle.checked { background: #F69; }

.character-status-value,
.character-status-detail {
  white-space: nowrap;
}
.character-status-value { padding-left: 0.5rem; }
.character-status-value span:before { content: ' / '; }
.character-status-detail { font-size: 0.8rem; }
.character-status-detail:empty { color: transparent; }
.character-status-detail:not(:empty):before { content: '('; }
.character-status-detail:not(:empty):after { content: ')'; }

.character-status-modified .character-status-value { font-weight: bold; }
.character-status-modified .character-status-value span:before { font-weight: normal; }

.character-status-mod { vertical-align: bottom; }
.character-status-mod input { float: right; }

.character-section {
  text-align: center;
}

.character-gear {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
  align-items: center;
}
.character-gear select {
  width: 85%;
  padding: 0.2rem 0 0.2rem 0.5rem;
}
.character-gear-show-detail {
  width: 15%;
  display: block;
  text-align: right;
}

.character-ability-head {
  color: #666;
  font-size: 0.9rem;
  padding-top: 0.5rem;
}
.character-ability-name {
  box-sizing: border-box;
  border-radius: 1rem;
  padding-left: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.character-ability-show-detail {
  text-align: right;
}
.character-ability.charged .character-ability-name {
  color: #C00;
  -webkit-animation: ChargePulse 2s ease infinite;
  -moz-animation: ChargePulse 2s ease infinite;
  animation: ChargePulse 2s ease infinite;
}

.add-character {
  margin-top: 1.5rem;
  text-align: center;
}
.add-character:hover,
.detail-button:hover,
.debuff:hover {
  cursor: pointer;
}

.detail-button {
  width: 1rem;
  height: 1rem;
  text-align: center;
  display: inline-block;
  padding: 0.3rem;
  border: 0.1rem solid #CCC;
  border-radius: 50%;
  color: #CCC;
}
.detail-button.pressed {
  color: #FFF;
  background: #CCC;
}

.up-button,
.down-button {
  position: absolute;
  width: 1rem;
  height: 1rem;
  text-align: center;
  font-size: 1.1rem;
  border: 0.1rem solid #CCC;
  border-radius: 50%;
  background: #FFF;
  padding: 0.1rem;
  line-height: 1rem;
}
.up-button { color: #C66; }
.down-button { color: #66C; }

.hidden {
  display: none;
}

.version {
  color: #CCC;
  text-align: right;
  font-size: 0.8rem;
}

@media only screen and (min-width: 640px) {
  .character-sheet { width: 640px; }

  .add-character { width: 640px; }

  .storage-prompt { max-width: 480px; }
}

@-webkit-keyframes ChargePulse {
  0%, 100% { color: #C30; }
  50% { color: #FC0; }
}
@-moz-keyframes ChargePulse {
  0%, 100% { color: #C30; }
  50% { color: #FC0; }
}
@keyframes ChargePulse {
  0%, 100% { color: #C30; }
  50% { color: #FC0; }
}
